<h1>Welcome to Baby Essentials!</h1>
<h5> Discover online marketplace to buy and sell baby essentials </h5>
<h5> Connect with parents around our community to your favourite baby products at affordable price </h5>
<h5> Save spaces at home and our environment for substainability </h5>

<section class="card">
    <img src= "https://annahurstphotography.com/wp-content/uploads/2015/06/Header-3.jpg" alt= "newborn baby">
    <img src= "https://i2-prod.mirror.co.uk/incoming/article26722932.ece/ALTERNATES/n615/0_A-close-up-of-a-mother-and-father-holding-a-newborn-baby-son-at-home.jpg" alt= "newborn baby">
    <img src= "https://www.theclickcommunity.com/blog/wp-content/uploads/2017/12/How-to-photograph-uncooperative-kids-by-Erica-Williams-1.jpg" alt= "girls"> 
</section>