<!DOCTYPE html>
<html>

<head>
  <meta name="description" content="homepage">
  <!-- specify page description -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- This tag helps building responsive layouts: optimising for different screen sizes. -->
</head>

<body>
  <div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
        <h1 class="display-4">Welcome to Baby Essentials! </h1>
        <p class="lead">Discover online marketplace to buy and sell baby essentials</p>
        <p class="lead">Connect with parents around our community to your favourite baby products at affordable price</p>
        <p class="lead">Save spaces at home and our environment for sustainability</p>
        <hr class="my-4">
        <%= image_tag "family2.jpg", alt: "Family", class: "picture" %>
        <%= image_tag "kids1.jpg", alt: "Family", class: "picture" %>
    </div>

    <div class="col-md-6">
      <%= image_tag "baby1.jpg", alt: "Newborn", class: "picture" %>
      <%= image_tag "family1.jpg", alt: "Family", class: "picture" %>
    </div>
</div>

</body>

</html>


