<h1>Welcome to Baby Essentials!</h1>
<p> Discover online marketplace to buy and sell baby essentials </p>
<p> Connect with parents around our community to your favourite baby products at affordable price </p>
<p> Save spaces at home and our environment for substainability <p>
